#Rails
# Ignore bundler config.
/.bundle
.env

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore OS X garbage
*/**.DS_Store

# Pow
.powrc

# Ignore application configuration
/config/application.yml
/coverage
rails_best_practices_output.html
