#Rails
# Ignore bundler config.
/.bundle
.env
secrets.yml

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore OS X garbage
/.DS_Store
*/**.DS_Store

# Pow
.powrc

# Ignore application configuration
/config/application.yml
/coverage

# Ignore Sublime Text junk
.fuse_hidden*

# Ignore uploads
/public/files
/public/images