- if shifts.present?
  %h3 Shifts
  %table.table.table-condensed
    %thead
      %th Date
      %th
        Time
        = "(24 hour, #{Time.use_zone(time_zone){Time.zone.now}})"
    %tbody
      - shifts.each do |shift|
        %tr
          - shift_presenter = ShiftPresenter.new(shift)
          %td= shift_presenter.date
          %td= shift_presenter.time
