- if shifts.present?
  %h3 Shifts
  %table.table.table-condensed
    %thead
      %th Date
      %th
        Time
        = "(24 hour, #{Time.now.in_time_zone(time_zone)})"
    %tbody
      - shifts.each do |shift|
        %tr
          - shift_presenter = ShiftPresenter.new(shift)
          %td= shift_presenter.date
          %td= shift_presenter.time
