= simple_form_for(Dispatch.new) do |f|
  = f.input :report_id, value: report.id, as: :hidden
  = f.input :responder, collection: @available_responders, label: false, prompt: "Responders..."
  = f.submit "Assign Responder", class: 'btn btn-primary btn-assign'
