%dl
  %dt Responder Name
  %dd= link_to dispatch.responder.name, filter_reports_path(report: {id: dispatch.report.id}, filter: {responder: {name: dispatch.responder.name}}), remote: true, method: :post
  %dt Phone
  %dd= link_to dispatch.responder.phone, filter_reports_path(report: {id: dispatch.report.id}, filter: {responder: {phone: dispatch.responder.phone}}), remote: true, method: :post
