%dl
  - non_rejected_dispatches = report.dispatches.not_rejected.joins(:responder)
  - if non_rejected_dispatches.present?
    %dt Responders
    - non_rejected_dispatches.each do |dispatch|
      %dd
        = link_to dispatch.responder.name, responder_path(dispatch.responder)
        = simple_form_for dispatch do |f|
          = f.input :status, collection: %w(pending accepted rejected)
    %dl
      %dt Dispatched
      %dd= time_ago_in_words(report.dispatches.not_rejected.first.created_at)
