<% content_for :before_grid do %>
  <div class="bleed drop-main">
    <div class="jumbohome container">
      <h2 class="jumbohome over-header text-center">We make it easy to do good</h2>
      <h1 class="jumbohome heading heading-xlarge caps text-center">Report to compassionate responders in seconds</h1>
      <br>
      <div class="row app-badges column-center">
        <div class="col-lg-1 appstore-btn">
          <img src="/assets/home/appstore.svg" href="https://itunes.apple.com/us/app/lyft/id928899021?mt=8"/>
        </div>
        <div class="col-lg-1 gplay-btn">
          <a href="https://play.google.com/store/apps/details?id=com.concrn.android">
            <img alt="Get it on Google Play"
              src="/assets/home/gplay.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bleed praying">
    <div class="container">
      <div class="text-center">
        <div class="praying over-header"> Download Concrn for a helping hand when it's needed most. Submit a detailed report to a local agency in under a minute. Friendly, trained responders will arrive on scene to provide care. And it's all free.</div>
        <div class="praying heading">How Concrn works</div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <p class="praying copy">
            In a few taps, the CONCRN mobile app allows <strong>community members</strong>, <strong>mental health professionals</strong>, and <strong>organizations</strong> to instantly report an individual in distress or other community issue and connect with a specialized response team in your area.
          </p>
          <br>
          <a class="btn btn-primary btn-lg" href="http://signup.concrn.com" role="button">Get Updates</a>
        </div>
        <div class="col-md-4 text-center">
          <img src="/assets/home/concrn-ios.png"/>
        </div>
      </div>
    </div>
  </div>
<% end %>
