<% content_for :before_grid do %>
  <div class="drop-main">
    <div class="jumbohome container">
      <h2 class="jumbohome over-header">Be there when it matters</h2>
      <h1 class="jumbohome heading heading-xlarge caps">Report a crisis in seconds</h1>
      <div class="row">
        <p class="jumbohome copy">
        We connect those in critical moments of mental crisis or distress with <strong>compassionate</strong>, <strong>confidential</strong> and <strong>trained</strong> responders.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <a class="btn btn-primary btn-lg" href="http://signup.concrn.com" role="button">Get Updates</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
