<% content_for :before_grid do %>
  <div class="bleed drop-main">
    <div class="jumbohome container">
      <h2 class="jumbohome over-header">Be there when it matters</h2>
      <h1 class="jumbohome heading heading-xlarge caps">Report a crisis in seconds</h1>
      <div class="row">
        <p class="jumbohome copy">
        We connect those in critical moments of mental crisis or distress with <strong>compassionate</strong>, <strong>confidential</strong> and <strong>trained</strong> responders.
        </p>
      </div>
      <div class="row">
        <div class="col-md-1">
          <a class="btn btn-primary btn-lg" href="http://signup.concrn.com" role="button">Get Updates</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bleed praying">
    <div class="container">
      <div class="text-center">
        <div class="praying over-header">What we're all about</div>
        <div class="praying heading">How it works</div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <p class="praying copy">
            In a few taps, the CONCRN mobile app allows <strong>community members</strong>, <strong>mental health professionals</strong>, and <strong>organizations</strong> to instantly report an individual in <strong>mental crisis</strong> and connect with a specialized response team in your area.
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img src="/assets/home/concrn-ios.png"/>
        </div>
      </div>
    </div>
  </div>
<% end %>
