<div id='map'></div>

<div class='map-overlay top'>
    <div class='map-overlay-inner'>
        <h2>Time Series Of Frequencies Of Reports</h2>
        <label id='month'></label>
        <input id='slider' type='range' min='0' max='11' step='1' value='0' />
    </div>
    <div class='map-overlay-inner'>
        <div id='legend' class='legend'>
            <div>Frequency (m)</div>
        </div>
    </div>
</div>