<div id='map'></div>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiYmVybmljZWNodWEiLCJhIjoiY2lta3h1bDRpMDE4a3R0a3FoN3N0bnE2diJ9.raVL-H6w9AyWvzGc7jRMww';
var map = L.mapbox.map('map', 'mapbox.streets').setView([40, -74.50], 9);
</script>
