.remember-me {

  .checkbox {
    margin-bottom: 20px;
    margin-top: 25px;
    line-height: 19px;
    font-weight: normal;
  }

  .form-control {
    display: block;
    width: 25px;
    height: 20px;
    margin: 0px;
  }
}
