.remember-me {

  .checkbox {
    width: 100px;
    height: 20px;
    font-weight: strong;
    margin-bottom: 20px;
    margin-top: 25px;
    line-height: 15px;
    vertical-align: bottom;
    position: relative;
    white-space: nowrap;
  }

  .check_boxes {
    .form-control {
      margin-right: 10px;
      width: 20px;
    }
  }

  .form-control {
    display: block;
    width: 30px;
    height: 20px;
    font-size: 14px;
    color: #555555;
    background-color: white;
    background-image: none;
    padding-right: 10px;
    margin: 0px;
  }
}
