tr.freshness-fresh {
  background-color: #fbb;
}

tr.freshness-semi-fresh {
  background-color: #ffb;
}

tr.freshness-semi-stale {
  background-color: #ddd;
}

.btn-assign {
  padding-bottom:10px;
  margin-left:1px;
}
