@import "bourbon";
@import "mixins";
@import "nav";
@import "pages";

html, body {
  font-family: $lato-font;
  font-size: $root-fs;
}

input, select, textarea {
  font-family: $lato-font;
}

.heading-xlarge {
  font-size: $fs-xlarge;
}

.caps {
  text-transform: uppercase;
}

a {
  color: $purple;
  text-decoration: none;
}

.btn-primary {
 background-color: $purple;
 border-color: $purple;
}
