@import "bourbon";
@import "mixins";
@import "fonts";
@import "nav";
@import "pages";

html, body {
  font-family: $proxima-nova-font;
  font-size: $root-fs;
}

input, select, textarea {
  font-family: $proxima-nova-font;
}

.heading-xlarge {
  font-size: $fs-xlarge;
}

.caps {
  text-transform: uppercase;
}

tr.freshness-fresh {
  background-color: #fbb;
}
tr.freshness-semi-fresh {
  background-color: #ffb;

}
tr.freshness-semi-stale {
  background-color: #ddd;

}
.drop-nav {
  padding-top: 10px;
}

.navbar {
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.37);
  position: relative;
  margin-bottom: 5px; 
  
  .navbar-brand {
    padding: 6px 15px;
  }

  .navbar-toggle {
    margin-top: 15px;
    padding-bottom: 0px;
  }

  .navbar-nav {
    float: left;
    margin: 0;
    padding-left: 20px;
    padding-top: 2px;
  }

  .navbar-text {
    margin-top: 17px;
  }
  
//   li.active {
//     background: magenta;
//   }
}

.navbar-fixed-top {
  border-width: 0 0 6px;
  }

.image-space {
  //background: url("/assets/concrn-logo-small.png") no-repeat;
  height: 1237px;
  padding-left: 113px;
}
 
.col-img {
  padding: 37px;
  padding-bottom: 15px;
}

.fig-img {
  display:inline-block;
}

.fig-img-ind {
  display:inline-block;
  padding-left: 200px;
}

.figcap {
  text-align:center;
  caption-side:bottom;
  font-size: 14pt;
}
