.container.main {
  padding-top: 75px;
}

tr.freshness-fresh {
  background-color: #fbb;
}
tr.freshness-semi-fresh {
  background-color: #ffb;

}
tr.freshness-semi-stale {
  background-color: #ddd;

}
.drop-nav {
  padding-top: 20px;
}

.navbar {
  background: white;
  box-shadow: 0px 1px 9px;
}

.drop-main {
  padding-top: 75px;
  .jumbotron {
    background: url("/assets/hero-large.png") no-repeat;
    background-size: cover;
    height: 433px;
    padding-top: 120px;
    h1 {
      text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
    }
    .subtitle-copy {
      width: 450px;
      text-shadow: 1px 2px 0px rgba(255, 255, 255, 1);
    }
  }
}
