@import "bourbon";
@import "mixins";
@import "nav";
@import "pages";

html, body {
  font-family: $lato-font;
  font-size: $root-fs;
}

input, select, textarea {
  font-family: $lato-font;
}

.heading-xlarge {
  font-size: $fs-xlarge;
}

.caps {
  text-transform: uppercase;
}

a {
  color: $purple;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: $purple;
}

a:active {
  color: $dark-purple;
  text-decoration: none;
}

.btn-primary {
 background-color: $purple;
 border-color: $purple;
}

.btn-primary:hover {
 background-color: $dark-purple;
 border-color: $dark-purple;
}

.btn-sign-up {
  background-color: $blue;
  border-color: $blue;
  color: $white;
}

.btn-sign-up:hover {
  background-color: $dark-blue;
  color: $white;
}