.container.main {
  padding-top: 70px;
}

tr.freshness-fresh {
  background-color: #fbb;
}
tr.freshness-semi-fresh {
  background-color: #ffb;

}
tr.freshness-semi-stale {
  background-color: #ddd;

}
.drop-nav {
  padding-top: 10px;
}

.navbar {
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.37);
  position: relative; 
  
  .navbar-brand {
    padding: 6px 15px;
  }

//   li.active {
//     background: magenta;
//   }
}

.drop-main {
  padding-top: 75px;
  .jumbotron {
    background: url("/assets/hero-large.png") no-repeat;
    background-size: cover;
    height: 433px;
    padding-top: 120px;
    h1 {
      text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
    }
    .subtitle-copy {
      width: 450px;
      text-shadow: 1px 2px 0px rgba(255, 255, 255, 1);
    }
  }
}
