// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "twitter/bootstrap/_variables";
@import "twitter/bootstrap/_mixins";

.navbar.home {
  position: absolute;
  background: none;
  box-shadow: none;
}

.drop-main {
  padding-top: 75px;
  background: url("/assets/hero-large.png") no-repeat;
  background-size: cover;
  height: 465px;
  width: 100%;
}

.jumbohome {
  &.container {
    padding-top: 100px;
    color: $white;
  }

  &.over-header {
    font-weight: $ultralight-weight;
    font-size: $fs-large;
  }
  &.heading {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  &.copy {
    @include make-lg-column(6);
    font-weight: $light-weight;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
