@import "mixins";
@import "twitter/bootstrap/_variables";
@import "twitter/bootstrap/_mixins";

.bleed {
  background-repeat: none;
  background-size: cover;
  width: 100%;
}

.bleed.drop-main {
  padding-top: 73px;
  padding-bottom: 37px;
  background-image: url("/assets/home/city-crop.png");
  height: float;
  @media(max-width: $screen-xs) {
    padding-top: 0;
    height: float;
  }
}

.jumbohome {
  &.container {
    padding-top: 75px;
    color: $white;
  }

  &.over-header {
    font-weight: $light-weight;
    font-size: 30px;
  }
  &.heading {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  &.copy {
    @include make-lg-column(6);
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}

.app-badges {
  float: none;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.bleed.praying {
  height: float;
  background-color: $warm;
  padding-bottom: 37px;
}

.praying {
  &.over-header {
    color: $purple;
    font-size: 18px;
    max-width: 800px;
    float: none;
    margin: 0 auto;
    padding-top: 25px
  }
  &.heading {
    text-transform: uppercase;
    margin: $small-gap 0 $medium-gap;
    font-size: $fs-large;
    font-weight: $semibold-weight;
  }
  &.copy {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

