// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "twitter/bootstrap/_variables";
@import "twitter/bootstrap/_mixins";

.bleed {
  background-repeat: none;
  background-size: cover;
  width: 100%;
}

.navbar.home {
  position: absolute;
  background: none;
  box-shadow: none;
  .navbar-brand {
    background-image: url('/assets/concrn-logo-small.png');
  }
  .navbar-text {
    color: white;
  }
}

.bleed.drop-main {
  padding-top: 75px;
  background-image: url("/assets/home/city-crop.png");
  height: 465px;
  @media(max-width: $screen-xs) {
    padding-top: 0;
    height: 500px;
  }
}

.jumbohome {
  &.container {
    padding-top: 100px;
    color: $white;
  }

  &.over-header {
    font-weight: $ultralight-weight;
    font-size: $fs-large;
  }
  &.heading {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  &.copy {
    @include make-lg-column(6);
    font-weight: $light-weight;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}

.bleed.praying {
  background-image: url('/assets/home/praying.png');
  height: 500px;
}

.praying {
  &.over-header {
    text-transform: uppercase;
    margin: $large-gap 0 $small-gap;
    color: $blue;
  }
  &.heading {
    text-transform: uppercase;
    margin: $small-gap 0 $medium-gap;
    font-size: $fs-large;
    font-weight: $semibold-weight;
  }
  &.copy {
    margin-top: $xlarge-gap;
  }
}

.observation-checkboxes {

  .checkbox {
    width: 160px;
    height: 24px;
    font-weight: normal;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    vertical-align:text-middle;
    line-height: 22px;
  }
  
  .check_boxes {
    .form-control {
      margin-right: 10px;
      width: 20px;
    }
  }

  .form-control {
    display: block;
    height: 14px;
    font-size: 14px;
    padding-right: 10px;
    line-height: 1.428571429;
    color: #555555;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    vertical-align: text-middle;
  }
}
