.row
  %h2.col-sm-2 Responders
  .table-top-button.col-sm-2.col-sm-offset-4= link_to 'Inactive Responders', deactivated_responders_path, class: 'btn btn-warning'
  .table-top-button.col-sm-2.col-sm-offset-2= link_to 'New Responder', new_responder_path, class: 'btn btn-primary'
= render 'responders_table'
