%table.table
  %thead
    %tr
      %th Date
      %th Name
      %th Phone
      %th Patient Description
      %th Crisis Description
      %th Location
      %th Responder
  - if reports.none?
    %tbody
      %tr
        %td{colspan: 7} No Reports
  - else
    %tbody
      - reports.each do |report|
        = content_tag_for :tr, report, class: "freshness-#{report.freshness}" do
          = render "report_row", report: report
