%table.table
  %thead
    %tr
      %th Name
      %th Phone
      %th Location
      %th Description
      %th Action
  - if @reports.none?
    %tbody
      %tr
        %td{colspan: 4} No Reports
  - else
    %tbody
      - @reports.each do |report|
        = render "report", report: report

